# Import Libraries

In [1]:
import requests
import numpy as np
import pandas as pd
from io import StringIO

# Data Extraction from Alphavantage API

In [2]:
time_length = 'TIME_SERIES_DAILY'
equity = 'SPY'
datatype = 'csv'
url = f'https://www.alphavantage.co/query?function={time_length}&symbol={equity}&outputsize=full&\
apikey=19ZXYAI8DBTEGDSI&datatype={datatype}'
response = requests.get(url)

In [3]:
data_string = StringIO(response.text)
stock_data = pd.read_csv(data_string)
stock_data

       timestamp      open      high       low     close     volume
0     2023-11-02  426.5800  430.9150  426.5600  430.7600   91199370
1     2023-11-01  419.2000  423.5000  418.6499  422.6600   98068115
2     2023-10-31  416.1800  418.5300  414.2100  418.2000   79665150
3     2023-10-30  413.5600  416.6800  412.2200  415.5900   86562675
4     2023-10-27  414.1900  414.6000  409.2100  410.6800  107367671
...          ...       ...       ...       ...       ...        ...
6036  1999-11-05  138.6250  139.1093  136.7812  137.8750    7431500
6037  1999-11-04  136.7500  137.3593  135.7656  136.5312    7907500
6038  1999-11-03  136.0000  136.3750  135.1250  135.5000    7222300
6039  1999-11-02  135.9687  137.2500  134.5937  134.5937    6516900
6040  1999-11-01  136.5000  137.0000  135.5625  135.5625    4006500

[6041 rows x 6 columns]

In [4]:
stock_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6041 entries, 0 to 6040
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  6041 non-null   object
 1   open       6041 non-null   float64
 2   high       6041 non-null   float64
 3   low        6041 non-null   float64
 4   close      6041 non-null   float64
 5   volume     6041 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 283.3+ KB

# Data Cleaning

In [5]:
stock_cleaned_data = pd.DataFrame(stock_data)
stock_cleaned_data['timestamp'] = pd.to_datetime(stock_cleaned_data['timestamp'])
stock_cleaned_data.set_index('timestamp', drop = True, inplace = True)
stock_cleaned_data = stock_cleaned_data.rename_axis('date')
stock_cleaned_data = stock_cleaned_data[::-1]

In [6]:
stock_cleaned_data.head()

                open      high       low     close   volume
date
1999-11-01  136.5000  137.0000  135.5625  135.5625  4006500
1999-11-02  135.9687  137.2500  134.5937  134.5937  6516900
1999-11-03  136.0000  136.3750  135.1250  135.5000  7222300
1999-11-04  136.7500  137.3593  135.7656  136.5312  7907500
1999-11-05  138.6250  139.1093  136.7812  137.8750  7431500

In [7]:
stock_cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6041 entries, 1999-11-01 to 2023-11-02
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    6041 non-null   float64
 1   high    6041 non-null   float64
 2   low     6041 non-null   float64
 3   close   6041 non-null   float64
 4   volume  6041 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 283.2 KB

In [12]:
stock_cleaned_data.to_csv("Documents/Github/Prediction_stock/data/stock_cleaned_data.csv", index = True)

OSError: Cannot save file into a non-existent directory: 'Documents/Github/Prediction_stock/data'